ul {
  list-style-type: none;
  padding: 0;
}

.categories-content {
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(230, 230, 230);
  display: flex;
  flex-flow: column wrap;
  left: 0;
  min-height: 100%;
  overflow-x: hidden;
  padding-top: 20px;
  position: absolute;
  top: 0;
  width: 260px;
  z-index: 1;
}

.categories-content li {
  color: #818181;
  display: block;
  font-size: 15px;
  padding: 6px 8px 6px 40px;
  text-align: left;
  text-decoration: none;
}

.categories-content li:hover {
  color: black;
  cursor: pointer;
}

.inactiveMenu {
  align-self: flex-start;
  background: url('/images/icons8-cardápio-96.png') no-repeat;
  background-size: contain;
  border: none;
  height: 40px;
  margin-left: 20px;
  width: 40px;
}

.activeMenu {
  align-self: flex-start;
  background: url('/images/icons8-x-90.png') no-repeat;
  background-size: contain;
  border: none;
  height: 40px;
  margin-left: 20px;
  width: 40px;
}
