.product-card {
  align-items: center;
  background-color: rgb(252, 252, 252);
  border-radius: 3px;
  box-shadow: 0 0 2px rgb(99, 99, 99);
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  margin: 10px;
  padding: 0 40px;
  text-align: center;
  width: 200px;
}

.product-card:hover {
  border-radius: 3px;
  box-shadow: 1px 2px 6px rgb(99, 99, 99);
}

.product-card > img {
  min-height: 90px;
  width: 90px;
}

.product-card > :nth-child( 2 ) {
  min-height: 80px;
}

.product-card > :nth-child( 4 ) {
  height: 80px;
}

.product-card > button {
  background-color: green;
  border: none;
  color: white;
  font-weight: 700;
}
