a {
  text-decoration: none;
}

.product-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  margin: 50px;
  text-align: center;
  width: 200px;
}

.product-card:hover {
  cursor: pointer;
}

.product-card > img {
  min-height: 90px;
  width: 90px;
}

.product-card > :nth-child( 2 ) {
  min-height: 80px;
}

.product-card > :nth-child( 4 ) {
  height: 80px;
}

.product-card > button {
  background-color: green;
  border: none;
  color: white;
  font-weight: 700;
}
