.home-header-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-bar-container > input {
  margin-top: 20px;
  width: 500px;
}

.home-header-container > :nth-child( 2 ) {
  width: 40px;
}

.home-header-container > :nth-child( 2 ) > button {
  background: url('https://image.flaticon.com/icons/png/512/126/126083.png') no-repeat;
  background-size: contain;
  border: none;
  height: 40px;
  margin-left: 100px;
  width: 40px;
}

.home-header-container > :nth-child( 2 ) > button:hover {
  cursor: pointer;
}
