.main-container {
  display: flex;
}

.categories {
  width: 20%;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 4vh;
  width: 100%;
  align-items: center;
}

.link {
  padding-right: 20px;
}

.results {
  text-align: center;
  margin: auto;
  width: 75%;
}
