.App {
  text-align: center;
}

body {
  background-color: #eef0f6;
}

.header-app {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.input-container {
  height: 60px;
}

.input-container button {
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
  border-radius: 0px 10px 10px 0px;
  color: #1e272e;
  cursor: pointer;
  font-size: 18px;
  margin-top: auto;
  padding: 9px 20px;
  text-align: center;
  transition: 0.3s;
  outline: none;
}

input[type='text'] {
  background: #fff;
  border: 1px solid #c6c6c6;
  border-radius: 10px 0px 0px 10px;
  font-size: 17.3px;
  margin-top: 14px;
  outline: #d0d0d1;
  padding: 9px;
  width: 440px;
}

h2 span {
  color: #e74c3c;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.main-content {
  display: flex;
}

.main-content aside {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 20%;
}

aside .category-box {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 250px;
}

.category-box label {
  margin: 4px 0px 0px 0px;
}

input[type='radio'] {
  appearance: none;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  outline: none;
  width: 250px;
}

input[type="radio"]:checked { 
  background-color: #e74c3c;
  z-index: -1;
 }

 input[type="radio"]:checked+label  {
  color: white;
}

input[type='radio']:hover {
  border: solid 1px #e74c3c;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 90%;
  
}

.nothing {
  margin: 0 auto;
}

.card {
  background-color: #fff;
  box-shadow: 0 0.4px 3.6px rgba(0, 0, 0, 0.004),
    0 1px 8.5px rgba(0, 0, 0, 0.01), 0 1.9px 15.7px rgba(0, 0, 0, 0.019),
    0 3.4px 28.2px rgba(0, 0, 0, 0.03), 0 6.3px 54.4px rgba(0, 0, 0, 0.047),
    0 15px 137px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  cursor: pointer;
  color: #1e272e;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-around;
  line-height: 1.6;
  margin: 10px;
  overflow: hidden;
  padding: 16px 24px;
  position: relative;
  transition: 0.4s;
  text-align: center;
  width: 255px;
}

.card button {
  padding: 10px 20px;
  background-color: white;
  color: #1e272e;
  border: 1px solid #d0d0d1;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}
.card button:hover {
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
  color: white;
}

.card a {
  text-decoration: none;
  color: #171817;
}

.price {
  color: #171817;
  font-weight: 500;
  display: block;
}


















@media only screen and (max-width: 600px) {

  .header-app h2 {
    display: none;
  }

  .header-app {
    flex-direction: column;
  }

  .input-container input[type='text']{
    width: 100px;
  }
}

