.header {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 10px 40px;
}

.input-search {
  border-radius: 30px;
  height: 35px;
  margin-right: 30px;
  outline: none;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
}
